- @layout_title = 'Byswap' 
- @layout_description = t('project.description')
- @layout_keywords = t('project.keywords')
- @layout_image = asset_url('presentation1.png')
- @layout_url = 'http://Byswap.com'

%title= @layout_title

= csrf_meta_tags

%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
%meta{name: "description", content: @layout_description, scale: 1.0}
%meta{name: "keywords", content: @layout_keywords}

%meta{name: "og:title", content: @layout_title}
%meta{name: "og:description", content: @layout_description}
%meta{name: "og:image", content: @layout_image}
%meta{name: "og:url", content: @layout_url}
%meta{name: "fb:admins", content: "889475071"}

%meta{name: "twitter:card", content: "summary"}
%meta{name: "twitter:url", content: @layout_url}
%meta{name: "twitter:title", content: @layout_title}
%meta{name: "twitter:description", content: @layout_description}
%meta{name: "twitter:image", content: @layout_image}